body{
    font-family: Arial;
    background: #101820;
    color: white;
    text-align: center;
}

h1{
    color: #ffcc00;
}

h2{
    margin-bottom: 15px;
}

.question-box{
    background:#1b2838;
    padding: 25px;
    margin: 20px auto;
    width: 450px;
    border-radius: 10px;
}

.ques{
    font-size: 20px;
    margin-bottom: 10px;
}

.option{
    text-align: left;
    margin-left: 70px;
    margin-top: 10px;
    font-size: 18px;
}

.option label{
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type=radio]{
    transform: scale(1.3);
    cursor: pointer;
}

.btn{
    padding: 10px 25px;
    border: none;
    background: #ffcc00;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 25px;
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.result{
    color: lightgreen;
    font-size: 24px;
}
