<!DOCTYPE html>
<html>
<head>
<title>Quiz App</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1>Interactive MCQ Quiz</h1>

<h2>Question {{ index }} / {{ total }}</h2>

<div class="question-box">

<p class="ques">{{ question.q }}</p>

<form method="POST">

    {% for opt in question.options %}
    <div class="option">
        <label>
            <input type="radio" name="option" value="{{ opt }}" required>
            <span>{{ opt }}</span>
        </label>
    </div>
    {% endfor %}

    <button class="btn" type="submit">Next</button>

</form>

</div>

</body>
</html>
